* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #0a0a0a;
    background-image: url("./assets/bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
    gap: 2rem;
    overflow-x: hidden;
}

main {
    width: 100%;

    min-height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1rem;
    position: relative;
}

.logo {
    width: 80%;
    max-width: 700px;
    z-index: 10;
    transform: translateY(-20px);
}
a {
    width: 80%;
    max-width: 700px;
    z-index: 30;

    &:hover {
        cursor: pointer;
    }
}
button {
    padding: 0.75rem;
    width: 100%;
    max-width: 700px;
    background-color: #228b22;
    color: white;
    font-weight: bold;
    z-index: 10;
    border: none;
    border-radius: 1rem;
    font-size: 18px;
    box-shadow: inset 0px 0px 5px 2px #FFFFFFaa;
        
    &:hover {
        cursor: pointer;
    }
}

.glass {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
}

footer {
    width: 100%;
    min-height: 2rem;
    display: flex;
    background-color: #0a0a0a;
    color: #f3f3f0;
    font-size: 12px;
    letter-spacing: 1;
    font-weight: lighter;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.1rem;
    gap: 0.25rem;
    z-index: 10;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,1);

    a {
        text-decoration: none;
        color: #f3f3f0;
    }
}
.redes {
    position: relative;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social {
    position: relative;
    width: 24px;
    margin-left: 10px;
}
.logosRedes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.textFooter {
    text-align: end;
}
.video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: auto;
    max-width: 900px;
    position: relative;
    z-index: 30;
    transform: translateY(-3rem);

    media-controller {
        position: relative;

        media-play-button {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(2.0);
            z-index: 50;
            border-radius: 50%;
            border: none;
            font-size: 50px;
            background-color: #228b2266;
            --media-icon-color: white;

            &:hover {
                cursor: pointer;
                background-color: #228b22;
                transform: translate(-50%, -50%) scale(2.2);
                transition: all 0.3s ease-in-out;
                border: none;
                box-shadow: inset 0px 0px 5px 1px #9bff9b;
            }
        }
        media-fullscreen-button {
            position: absolute;
            top:0;
            right: 0;
            width: 50px;
            height: 50px;
            background-color: transparent;
            --media-icon-color: white;

            &:hover {
                cursor: pointer;
                transform: translate(-10%, 10%) scale(1.2);
                transition: all 0.3s ease-in-out;
                
            }
        }
    }
}
.tarja {
    width: 12%;
    z-index: 30;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: red;
    padding: .1rem;
    border-radius: .5rem;
    font-size: 12px;
    position: absolute;
    top: 50%
}

.section-garantias {
    width: 100%;
    max-width: 900px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 2px #000000aa;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    z-index: 30;
}
.img-selo {
    width: 200px;
}
.garantias {
    max-width: 600px;
    font-size: 16px;
    color: #fafafa;     
    list-style: square;
    letter-spacing: 1.2;
    text-align: justify;
}
.sec1 {
    z-index: 4;
    border-radius: 2rem;
    box-shadow: .3rem .3rem .3rem .3rem #0a0a0aaa;
    background-color: #000000aa;
    width: 95%;
    max-width: 900px;
}
.img-conteudo-curso, .img-garantias{
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 1rem;
}

@media (max-width: 539px){
    .video {   
        width: 90%;
        height: auto;     
    }
    .img-conteudo-curso{
        width: 100%;
        content: url("./assets/conteudo-port.jpeg");
    }
    .img-garantias {
        width: 100%;
        content: url("./assets/garantias-port.jpeg");
    }
    media-play-button {
        transform: translate(-50%, -50%) scale(1.0);
        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
    media-fullscreen-button {
        transform: translate(-10%, 10%) scale(1.0);
        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}